@font-face {
    font-family: 'Fell English SC';
    src: url('./assets/fonts/IM_FELL_English_SC.woff') format('woff'),
        url('./assets/fonts/IM_FELL_English_SC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underdog';
    src: url('./assets/fonts/Underdog-Regular.woff') format('woff'),
        url('./assets/fonts/Underdog-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* colors */
    --color-primary: #f5f5f5;
    --color-secondary: #5B745A;
    --color-tertiary: #f3fa2c;
    --color-quaternary: black;

    /* fonts */
    --main-font-family: 'Underdog', sans-serif;
    --secondary-font-family: 'Fell English SC', serif;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-quaternary);
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    /* overscroll-behavior-y: none; */
    position: relative;
    /* overflow-x: hidden; */
    width: 100%;
    height: 100%;
    margin: 0;
}

*, *::before, *::after {
    font-family: var(--main-font-family);
    font-size: 1.125rem;
    color: var(--color-primary);
    box-sizing: inherit;
}

h1, h2, h3 {
    font-family: var(--secondary-font-family);
    font-size: 1.75rem;
    color: white;
    margin-top: 0;
}

iframe {
    max-width: 100vw;
}

.mobile {
    display: none;
}

.content {
    width: 100%;
}

.content > div {
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.content-text {
    width: 50%;
}

#home {
    flex-direction: row;
    background-image: url('./assets/images/game_ss.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 45%;
    min-height: 90vh;
    height: fit-content;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#home > * {
    width: clamp(20vw, 20rem, 30vw);
    max-height: 90%;
    object-fit: contain;
}

#foreground-image {
    max-width: 20%;
}

#foreground-logo {
    display: none;
    max-width: 40%;
    border-radius: 8px;
    margin: 0;
}

.logo {
    width: 70%;
    border-radius: 8px;
    margin: auto;
    background-color: #5B745A;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

a:hover {
    color: var(--color-tertiary);
}

a svg {
    height: 2rem;
    fill: var(--color-primary);
}

a svg:hover {
    fill: var(--color-tertiary);
    -webkit-transition: fill 250ms ease-in-out;
    -ms-transition: fill 250ms ease-in-out;
    transition: fill 250ms ease-in-out;
}

#game {
    background-color: black;
    color: white;
    padding: 0;
    h1 {
        color: white;
    }
}

.sleep-herd-art {
    width: 100%;
    max-height: 100vh;
    position: relative;
    object-fit: cover;
}

.sleep-herd-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    width: 100%;
    position: relative;
    padding: 0 20vw;
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 90%, transparent 100%); */
    h1, p, a {
        margin: 3rem;
    }

    .sleep-herd-content {
        z-index: 1;
        width: 100%;
    }

    .background {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 0;

        img {
            height: 55%;
            opacity: 0.40;
        }
        
        img:first-child {
            align-self: flex-end;
        }

        img:last-child {
            align-self: flex-start;
        }
    }
}

.trailer-vid {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    width: clamp(50vw, 100%, 100vw);

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.sleep-herd-description {
    padding: 2rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    iframe {
        max-width: 100%;
    }
}

#the_team {
    /* background-color: var(--color-secondary); */
    background-image: url('assets/images/wallpaper.png');
}

#the_team h1 {
    color: var(--color-primary)
}

.team-info {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;

    p {
        font-size: 14px;
    }
}

.secondary-role {
    font-size: 0.9rem;
    color: rgb(0, 0, 0) !important;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 10rem;
}

.team-member img {
    width: 5rem;
    border-radius: 5%;
}

.team-member h4, .team-member p {
    margin: 0;
    color: var(--color-primary)
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact-details {
    display: flex;
    width: 30rem;
    gap: 1rem;
}

#contact {
    background-color: var(--color-secondary)
}

#contact form > label {
    width: 30rem;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input, textarea {
    color: var(--color-quaternary);
    width: 100%;
    border-radius: 0.25rem;
    border: 2px solid var(--color-quaternary);
    padding: 0.25rem;
    font-size: 1rem;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 15rem;
    min-height: 5rem;
}

button {
    background: none;
    padding: 0;
    border: none;
}

.presskit-button {
    background-color: var(--color-quaternary);
    padding: 0.2rem 2rem;
    border-radius: 0.25rem;
    border: 2px solid var(--color-primary);
    min-width: 7rem;
    text-decoration: none;
    margin-top: 2rem;
}

.footer {
    background-color: var(--color-quaternary);
    padding: .1rem 0;
    text-align: center;
}

.footer p {
    font-size: 0.75rem;
}

@media screen and (max-width: 1199.98px) {
    #foreground-image {
        display: none;
    }

    #foreground-logo {
        display: block;
        max-width: 30%;
    }

    .logo {
        display: none;
    }
}

@media screen and (max-width: 991.98px){
    .sleep-herd-banner {
        padding: 0 10vw;
    }

    #home > * {
        width: 40vw;
    }

    .sleep-herd-content {
        overflow: hidden;
    }

    .sleep-herd-description {
        width: 120%;
        margin-left: -10%;
        
        iframe {
            transform: scale(0.75);
            -webkit-transform: scale(0.75);
        }

        a {
            margin-top: 1rem;
        }
    }

}

@media screen and (max-width: 575.98px) { 
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    #home {
        display: grid;
        background-position: 65% 65%;
    }

    #home > * {
        width: 80vw;
        margin: 0;
    }

    #foreground-logo {
        display: none;
    }

    #home .logo {
        display: block;
        width: 50vw;
        border-radius: 8px;
        margin: auto;
    }

    #game {
        margin-top: 0;
    }

    .sleep-herd-banner img {
        margin-top: 0;
    }

    .sleep-herd-banner img:first-child,
    .sleep-herd-banner img:last-child {
        display: none;
    }

    .sleep-herd-description {
        width: 150%;
        margin-left: -25%;
        
        iframe {
            transform: scale(0.65);
            -webkit-transform: scale(0.65);
        }
    }

    p.content-text {
        width: 80%;
    }

    .team-member {
        width: 6rem;
        h4 p {
            font-size: .8rem;
        }
    }

    .contact-details {
        flex-direction: column;
        width: 100%;
    }

    #contact form {
        width: 80%;
    }

    #contact form > label {
        width: 100%;
    }
}