@font-face {
    font-family: 'Fell English SC';
    src: url('./assets/fonts/IM_FELL_English_SC.woff') format('woff'),
        url('./assets/fonts/IM_FELL_English_SC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underdog';
    src: url('./assets/fonts/Underdog-Regular.woff') format('woff'),
        url('./assets/fonts/Underdog-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* colors */
    --color-primary: #f5f5f5;
    --color-secondary: #5B745A;
    --color-tertiary: #f3fa2c;
    --color-quaternary: #333;

    /* fonts */
    --main-font-family: 'Underdog', sans-serif;
    --secondary-font-family: 'Fell English SC', serif;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-quaternary);
    box-sizing: border-box;
}

body {
    overscroll-behavior-y: none;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}

*, *::before, *::after {
    font-family: var(--main-font-family);
    font-size: 1.125rem;
    color: var(--color-primary);
    box-sizing: inherit;
}

h1, h2, h3 {
    font-family: var(--secondary-font-family);
    font-size: 1.75rem;
    color: var(--color-quaternary);
    margin-top: 0;
}

.menu-burger {
    display: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    width: 3rem;
    height: 3rem;
}

.menu-burger > img {
    margin-top: -2px;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#menu ul {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

#menu li {
    list-style: none;
}

#menu img {
    height: 5rem;
    margin: 0 1rem;
    -webkit-filter: drop-shadow(1px 1px 1px white)
    drop-shadow(-1px -1px 1px white);
    filter: drop-shadow(1px 1px 1px white) 
    drop-shadow(-1px -1px 1px white);
}

#menu a {
    display: flex;
    align-items: center;
}

#menu a:hover {
    color: var(--color-tertiary);
    -webkit-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;

    img {
        -webkit-filter: drop-shadow(1px 1px 1px var(--color-tertiary))
        drop-shadow(-1px -1px 1px var(--color-tertiary));
        filter: drop-shadow(1px 1px 1px var(--color-tertiary)) 
        drop-shadow(-1px -1px 1px var(--color-tertiary));
    }
}

#back-to-top {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    justify-content: center;
    text-align: center;
    z-index: 100;

    * {
        display: block;
        margin: 2rem 0;
    }
}

#back-to-top img {
    height: 5rem;
    margin: 0 1rem;
    margin-bottom: 8px;
    -webkit-filter: drop-shadow(1px 1px 1px white)
    drop-shadow(-1px -1px 1px white);
    filter: drop-shadow(1px 1px 1px white) 
    drop-shadow(-1px -1px 1px white);
}

#back-to-top a {
    display: inline;
    align-items: center;
}

#back-to-top a:hover {
    color: var(--color-tertiary);
    -webkit-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    transition: color 250ms linear;

    img {
        -webkit-filter: drop-shadow(1px 1px 1px var(--color-tertiary))
        drop-shadow(-1px -1px 1px var(--color-tertiary));
        filter: drop-shadow(1px 1px 1px var(--color-tertiary)) 
        drop-shadow(-1px -1px 1px var(--color-tertiary));
    }
}

.content {
    width: 100%;
}

.content > div {
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.content-text {
    width: 50%;
}

#home {
    flex-direction: row;
    background-image: url('./assets/images/game_ss.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 45%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#home > * {
    margin-top: 5rem;
    width: 20vw;
}

.logo {
    background-color: #5B745A;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.socials svg {
    height: 2rem;
    fill: var(--color-primary);
}

.socials svg:hover {
    fill: var(--color-tertiary);
    -webkit-transition: fill 250ms ease-in-out;
    -ms-transition: fill 250ms ease-in-out;
    transition: fill 250ms ease-in-out;
}

#game {
    background-color: var(--color-secondary);
}

.sleep-herd-banner {
    display: flex;
    justify-content: space-between;
    height: 26rem;
    width: 100%;
    margin: -2rem -2rem 2rem -2rem;
    background-color: black;
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 90%, transparent 100%); */
}

.sleep-herd-banner > img {
    height: 100%;
}

#the_team {
    background-color: var(--color-quaternary);
}

#the_team h1 {
    color: var(--color-secondary)
}

.team-info {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 10rem;
}

.team-member img {
    width: 5rem;
    border-radius: 50%;
}

.team-member h4, .team-member p {
    margin: 0;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact-details {
    display: flex;
    width: 30rem;
    gap: 1rem;
}

#contact {
    background-color: var(--color-secondary)
}

#contact form > label {
    width: 30rem;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input, textarea {
    color: var(--color-quaternary);
    width: 100%;
    border-radius: 0.25rem;
    border: 2px solid var(--color-quaternary);
    padding: 0.25rem;
    font-size: 1rem;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 15rem;
    min-height: 5rem;
}

button {
    background-color: var(--color-quaternary);
    padding: 0.2rem 2rem;
    border-radius: 0.25rem;
    border: 2px solid var(--color-primary);
    width: 10%;
    min-width: 7rem;
}

.presskit-button {
    background-color: var(--color-quaternary);
    padding: 0.2rem 2rem;
    border-radius: 0.25rem;
    border: 2px solid var(--color-primary);
    width: 10%;
    min-width: 7rem;
    text-decoration: none;
    margin-top: 2rem;
}

.footer {
    background-color: var(--color-quaternary);
    padding: .1rem 0;
    text-align: center;
    margin: -8px;
}

.footer p {
    font-size: 0.75rem;
}

@media screen and (max-width: 991.98px){
    .team-info {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 575.98px) { 
    /* .menu-burger {
        display: block;
    } */

    #desktop-nav {
        display: none !important;
    }

    #home {
        flex-direction: column;
        gap: 1rem;
        margin-top: -8px;
        background-position: 65% 65%;
    }

    #home > * {
        width: 80vw;
    }

    #home .logo {
        width: 50vw;
        border-radius: 8px;
    }

    .sleep-herd-banner {
        justify-content: center;
        height: 10rem;
        margin-bottom: 3rem;
        box-shadow: black 0 0 1rem 1rem;
    }

    .sleep-herd-banner img {
        margin-top: 0;
    }

    .sleep-herd-banner img:first-child,
    .sleep-herd-banner img:last-child {
        display: none;
    }

    p.content-text {
        width: 80%;
    }

    .team-info {
        grid-template-columns: auto auto;
    }

    .contact-details {
        flex-direction: column;
        width: 100%;
    }

    #contact form {
        width: 80%;
    }

    #contact form > label {
        width: 100%;
    }
}