@font-face {
    font-family: 'Fell English SC';
    src: url('./assets/fonts/IM_FELL_English_SC.woff') format('woff'),
        url('./assets/fonts/IM_FELL_English_SC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underdog';
    src: url('./assets/fonts/Underdog-Regular.woff') format('woff'),
        url('./assets/fonts/Underdog-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* colors */
    --color-primary: #f5f5f5;
    --color-secondary: #5B745A;
    --color-tertiary: #f3fa2c;
    --color-quaternary: #333;

    /* fonts */
    --main-font-family: 'Underdog', sans-serif;
    --secondary-font-family: 'Fell English SC', serif;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-secondary);
}

* {
    font-family: var(--main-font-family);
    font-size: 1.125rem;
    color: var(--color-primary)
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font-family);
    font-size: 1.75rem;
    color: var(--color-quaternary);
}

.menu {
    position: fixed;

}

.menu ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu ul li {
    list-style: none;
}

.menu ul li a:hover {
    color: var(--color-tertiary)
}

.content {
    padding: 2rem;
}

#banner {
    display: flex;
    background-image: url('./assets/images/game_ss.jpg');
    background-size: cover;
    background-position: 0% 49%;
    height: 30rem;
    margin: 2rem -44px 0 -44px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo {
    height: 20rem;
    background-color: #5B745A80;
    
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    background-color: var(--color-quaternary);
    padding: .1rem 0;
    text-align: center;
    margin: -8px;
}