@font-face {
    font-family: 'Fell English SC';
    src: url('./assets/fonts/IM_FELL_English_SC.woff') format('woff'),
        url('./assets/fonts/IM_FELL_English_SC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underdog';
    src: url('./assets/fonts/Underdog-Regular.woff') format('woff'),
        url('./assets/fonts/Underdog-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* colors */
    --color-primary: #f5f5f5;
    --color-secondary: #5B745A;
    --color-tertiary: #f3fa2c;
    --color-quaternary: #333;

    /* fonts */
    --main-font-family: 'Underdog', sans-serif;
    --secondary-font-family: 'Fell English SC', serif;
}

html {
    scroll-behavior: smooth;
    background-color: var(--color-secondary);
    box-sizing: border-box;
}

*, *::before, *::after {
    font-family: var(--main-font-family);
    font-size: 1.125rem;
    color: var(--color-primary);
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font-family);
    font-size: 1.75rem;
    color: var(--color-quaternary);
    margin-top: 0;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-secondary);
    width: 100%
}

.menu ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu ul li {
    list-style: none;
}

.menu ul li a:hover {
    color: var(--color-tertiary)
}

.content {
    margin: 0 -8px;
}

.content > div {
    text-align: center;
    padding: 2rem;
}

#home {
    display: flex;
    background-image: url('./assets/images/game_ss.jpg');
    background-size: cover;
    background-position: 0% 45%;
    margin-top: 3rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#home > * {
    width: 25vw;
}

.logo {
    background-color: #5B745A80;
    border-radius: 5rem;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.socials img {
    height: 2rem;
    color: white;
}

#the_team {
    background-color: var(--color-quaternary);
}

#the_team h2 {
    color: var(--color-secondary)
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact-details {
    display: flex;
    gap: 1rem;
    width: 30rem;
}

#contact form > label {
    width: 30rem;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input, textarea {
    color: var(--color-quaternary);
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 1rem;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 15rem;
    min-height: 5rem;
}

button {
    background-color: var(--color-quaternary);
    padding: 0.2rem 2rem;
    border-radius: 0.25rem;
    width: 10%
}

.footer {
    background-color: var(--color-quaternary);
    padding: .1rem 0;
    text-align: center;
    margin: -8px;
}